@using PengaduanMasyarakatApp.Shared.Models;

<div class="row">

    <div class="col-md-12"><RadzenLabel Text="@Data.Tanggapan"></RadzenLabel></div>


</div>

@code {
    [Parameter] public PengaduanViewModel Data { get; set; }
}
