<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">APPM</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        @*<li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </li>*@

        <AuthorizeView Roles="Masyarakats">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="pengaduan">

                    <span class="oi oi-document" aria-hidden="true"></span> Pengaduan
                </NavLink>
            </li>
        </AuthorizeView>
        
        <AuthorizeView Roles="Administrators,Petugass">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="daftarPengaduan">

                    <span class="oi oi-list-rich" aria-hidden="true"></span> Daftar Pengaduan
                </NavLink>
            </li>
        </AuthorizeView>
        
        <AuthorizeView Roles="Administrators">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="administration">

                    <span class="oi oi-cog" aria-hidden="true"></span> Administrasi
                </NavLink>
            </li>
        </AuthorizeView>
        

    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
